* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/background.jpg");
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

/* test code about dropdown menu in nav bar*/

/* Dropdown styles */
.navbar ul .dropdown {
    position: relative;
}

.navbar ul .dropdown .dropdown-toggle {
    cursor: pointer;
}

.navbar ul .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background: transparent; /* Dark background color */
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);    z-index: 1;
    list-style: none;
    padding: 10px;
    min-width: 160px;
    /* Set the dropdown to open downwards and to the left */
    top: 100%; /* Position below the parent */
    right: 0; /* Align with the right edge of the parent */
}

.navbar ul .dropdown .dropdown-menu a {
    color: #fff;
    text-decoration: none;
}

.navbar ul .dropdown:hover .dropdown-menu {
    display: block;
}

/* End of Dropdown styles */

/* test category code */

/* end of  test category code */

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

.column{
    float: left;
    width: 30%;
    height: 2px;
    padding: 5px;
}
.row{
    height: 20px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}

.categories{
    margin: 50px 0;
    padding-right: 50px;
    padding-left: 50px;
}

/* Products */
.sec{
    padding: 10px 5%;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.products .card{
    width: 310px;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.products .card img{
    height: 250px;
    width: 100%;
}

.products .card .desc{
    padding: 5px 20px;
    opacity: 0.8;
}

.products .card .title{
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;
}

.products .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.products .card .box .price{
    color: #009688;
    font-size: 20px;
    font-weight: bold;
}

.products .card .box .btn{
    font-size: 13px;
    color: #009688;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid #009688;
    border-radius: 20px;
}

.products .card .box .btn:hover {
    cursor: pointer;
    background-color: #009688;
    color: white;
}