<!DOCTYPE>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<!-- Head -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width,
    initial-scale=1.0">
    <title>Perfect Bathroom</title>
    <link rel="stylesheet" href="/css/homeStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<!-- Head End -->


<body>

<!-- Navbar -->
<nav class="navbar">
    <div class="logo"><a href="/"> <h1>Perfect-Bathroom</h1></a></div>
    <ul class="menu">
        <li><a href="/users/home" class="active">Home</a></li>
        <li><a href="/users/gallery">Gallery</a></li>
        <li><a href="/users/dining">Dining</a></li>

        <!-- Dropdown menu fo Admins only-->
        <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <form th:method="get"
                      th:action="@{/product/add}">
                    <button sec:authorize="isAuthenticated()" type="submit"><span></span>Add Product</button>
                </form>
                <div class="dropdown-divider"></div>
                <form th:method="get"
                      th:action="@{/}">
                    <button sec:authorize="isAuthenticated()" type="submit"><span></span>ACTION 1</button>
                </form>
                <div class="dropdown-divider"></div>
                <form th:method="get"
                      th:action="@{/}">
                    <button sec:authorize="isAuthenticated()" type="submit"><span></span>ACTION 2</button>
                </form>
            </div>
        </li>
        <!-- End of Dropdown menu fo Admins only-->

        <!-- Dropdown menu for user account -->
        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
            <a class="nav-link dropdown-toggle" id="profileDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               sec:authorize="isAuthenticated()" sec:authentication="name" href="#">
                User
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <form th:method="get"
                      th:action="@{/users/profile}">
                    <button sec:authorize="isAuthenticated()" type="submit"><span></span>PROFILE</button>
                </form>

                <div class="dropdown-divider"></div>

                <form th:method="post"
                      th:action="@{/users/logout}">
                    <button sec:authorize="isAuthenticated()" type="submit"><span></span>LOGOUT</button>
                </form>

            </div>
        </li>
        <!-- Dropdown menu for user account -->
        <li><a href=""><i class="fas fa-shopping-cart"></i></i> </a></li>
    </ul>

    <!---For responsive button --->
    <div class="menu-btn">
        <i class="fa fa-bars"></i>
    </div>
</nav>
<!-- Navbar End -->


<section class="content">
    <div class="wrapper">

        <!-- Registration form START -->
        <form th:action="@{/product/add}"
              th:method="POST"
              th:object="${createProductDTO}">

            <h1>Add Perfect Product</h1>

            <div class="input-box">
                <div class="input-field">
                    <select id="category"
                            th:name="category"
                            th:field="*{category}"
                            th:errorclass="is-invalid"
                            class="form-control">
                        <option value="">- Select category -</option>
                        <option th:each="c : ${categories}"
                                th:text="${c}"
                                th:value="${c}"
                                th:selected="${c} == *{category}">
                        </option>
                    </select>
                </div>
                <div class="input-field">
                    <input id="brand"
                           name="brand"
                           type="text"
                           placeholder="Brand" required>
                    <i class='bx bx-category-alt' ></i>
                </div>
            </div>

            <div class="input-box">
                <div class="input-field">
                    <input id="model"
                           name="model"
                           type="text"
                           placeholder="Model" required>
                    <i class='bx bx-category-alt' ></i>
                </div>
                <div class="input-field">
                    <input id="name"
                           name="name"
                           type="text"
                           placeholder="Name" required>
                    <i class='bx bx-category-alt' ></i>
                </div>
            </div>

            <div class="input-box">

                <div class="input-field">
                    <input id="price"
                           name="price"
                           type="number"
                           placeholder="Price" required>
                    <i class='bx bx-purchase-tag' ></i>
                </div>
            </div>

            <div class="input-box">
                <div class="input-field">
                    <input id="discount"
                           name="discount"
                           type="number"
                           value="0"
                           placeholder="Discount">
                    <i class='bx bxs-discount' ></i>
                </div>
                <div class="input-field">
                    <input id="description"
                           name="description"
                           type="text"
                           placeholder="Description" required>
                    <i class='bx bx-text' ></i>
                </div>
            </div>

            <button type="submit" class="btn">Add Product</button>
        </form>
        <!-- Registration form END -->
    </div>
</section>

<!-- Footer -->
<footer>
    <p>Copyright at <a href="">Perfect-Bathroom</a></p>
</footer>
<!-- Footer -->

<!--- Jquery --->
<script>
    $(".menu-btn").click(function () {
        $(".navbar .menu").toggleClass("active");
        $(".menu-btn i").toggleClass("active");
    });
</script>
<!--- Jquery End --->
-->

</body>
</html>
