<!DOCTYPE>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="~{fragments/head}">
</head>

<body>
<div class="banner">
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="wrapper">

    <!-- Registration form START -->
    <form th:action="@{/users/login}"
          th:method="post">

        <h1>Login</h1>

        <div class="input-box">
            <div class="input-field">
                <input id="username"
                       name="username"
                       type="text"
                       placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-field">
                <input id="password"
                       name="password"
                       type="password"
                       placeholder="Password" required>
                <i class='bx bx-lock' ></i>
            </div>
        </div>
        <div class="input-field">
            <label for="rememberme" class="text-white front-weight-bold">Remember me</label>
            <input id="rememberme"
                   name="rememberme"
                   type="checkbox">
            <i class='bx bx-lock' ></i>
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
    <!-- Registration form END -->
</div>


</body>


</html>